<!DOCTYPE html>
<html>
  <head>
    <% include ../templates/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/card.min.css" />
  </head>
  <body>
    <% include ../templates/navigation.ejs %>
    <div class="large-header">
        <div class="title">
            <div class="container header-titles">
                <div class="row">
                    <div class="col-md">
                        <h4><%= event.name %> <small><%= (event.max_tickets - tickets_sold) < 0 ? 0 : (event.max_tickets - tickets_sold) %> ticket(s) left...</small></h4>
                    </div>
                    <div class="col-md text-right">
                        <a href="/event_handler/view_event/<%= event._id %>" class="btn btn-info">Back</a>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="container event-desc">
        <form action="/event_handler/checkout/<%= event._id %>/<%= ticket._id %>" method="post" id="checkout">
            <section title="Create Order">
                <p>You'll be able to review your order before purchasing.</p>
                <table class="table table-hover order_checkout">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Fee</th>
                      <th scope="col">Quantity</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"><%= ticket.name %></th>
                      <td>$<%= ticket.price %>/each</td>
                      <td>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                  <i class="fas fa-minus"></i>
                                </button>
                            </span>
                            <input type="text" id="quantity" name="quantity" style="text-align:center;width:40px" value="1" min="1" max="100">
                            <span class="input-group-btn">
                                <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </span>
                        </div>
                      </td>
                    </tr>
                    <tr style="border-top:1px solid #ccc">
                        <th></th>
                        <td></td>
                        <td>Total: $<span id="total_price"><%= ticket.price %></span></td>
                    </tr>
                </table> 
            </section>
            <section id="finalise" title="Purchase Tickets">
                <p>You will be emailed with the ticket receipt, which will contain your code.</p>
                <div class="card-js" style="margin-bottom:20px" data-icon-colour="#158CBA" data-stripe="true">
                  <input class="name" id="email" name="email" placeholder="Enter email...">
                  <input class="card-number my-custom-class" name="card-number">
                  <input class="expiry-month" name="expiry-month">
                  <input class="expiry-year" name="expiry-year">
                  <input class="cvc" name="cvc">
                </div>
            </section>
            <p>By purchasing, you agree to the <a href="https://stripe.com/connect-account/legal" class="link_popup">Stripe Connected Account Agreement</a>.</p>
        </form>
    </div>
    
    <% include ../templates/javascripts.ejs %>
    <% include ../templates/footer.ejs %>
    <script src="/javascripts/card.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="/javascripts/wizard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script>
        <% if(event.cover_image != "") { %>
        var cover_image = window.location.protocol + '/\/' +  window.location.hostname +"/"+ "<%= event.cover_image %>"
        console.log(cover_image)
        $(".large-header").css("background-image", "url(" + cover_image + ")")
        <% } %>
        $("#checkout").wizard()
        var quantity = 0;
        
        $("#quantity").change(function() {
            $("#total_price").text(parseInt($('#quantity').val()) * parseFloat("<%= ticket.price %>").toFixed(2))
        })
        
        $('.quantity-right-plus').click(function(e){
        
            e.preventDefault();
            var quantity = parseInt($('#quantity').val());
            $('#quantity').val(quantity + 1);
        
            $("#total_price").text(parseFloat(parseInt($('#quantity').val()) * parseFloat("<%= ticket.price %>")).toFixed(2))
        });

        $('.quantity-left-minus').click(function(e){
            // Stop acting like a button
            e.preventDefault();
            
            if(parseFloat($('#quantity').val()) <= 1) {
                return;
            } else {
                // Get the field name
                var quantity = parseInt($('#quantity').val());
                
                // If is not undefined
              
                // Increment
                if(quantity>0){
                    $('#quantity').val(quantity - 1);
                }
                
                $("#total_price").text(parseFloat(parseInt($('#quantity').val()) * parseFloat("<%= ticket.price %>")).toFixed(2))
            }
        });
        
        $(document).ready(function() {
            Stripe.setPublishableKey('<%= keyPublishable %>');
      
            function stripeResponseHandler(status, response) {
            
                // Grab the form:
                var $form = $('#checkout');
                
                if (response.error) { // Problem!
                
                  // Show the errors on the form
                  $form.find('.payment-errors').text(response.error.message);
                  $form.find('button').prop('disabled', false); // Re-enable submission
                
                } else { // Token was created!
                
                  $("#form").find('button').prop('disabled', true).html("<i class='fa fa-spinner fa-spin'></i> Subscribing...");
                
                  // Get the token ID:
                  var token = response.id;
                
                  // Insert the token into the form so it gets submitted to the server:
                  $form.append($('<input type="hidden" name="stripeToken" />').val(token));
                
                  // Submit the form:
                  $form.get(0).submit();
                
                }
            }
              
            $("#checkout").on("submit", function(e) {
            
                e.preventDefault()
                
                Stripe.card.createToken({
                  number: $('.card-number').val(),
                  cvc: $('.cvc').val(),
                  exp_month: $('.expiry-month').val(),
                  exp_year: $('.expiry-year').val()
                }, stripeResponseHandler);
            
            })
        })
    </script>
  </body>
</html>
