<!DOCTYPE html>
<html>
  <head>
    <% include ../templates/head.ejs %>
  </head>
  <body>
    <% include ../templates/navigation.ejs %>
    <div class="large-header">
        <div class="title">
            <div class="container header-titles">
                <div class="row">
                    <div class="col-md-9">
                        <h4><%= event.name %> <small><%= (event.max_tickets - tickets_sold) < 0 ? 0 : (event.max_tickets - tickets_sold) %> ticket(s) left...</small></h4>   
                    </div>
                    <div class="col-md-3 text-right">
                        <% if(!sold_out) { %>
                        <button type="button" id="get_tickets" class="btn btn-info">Get Tickets</button>
                        <% } else { %>
                        <button type="button" class="btn btn-danger">Sold Out</button>
                        <% } %>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="event-info">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p><i class="fa fa-calendar"></i> <span id="start"><%= event.start %></span> - <span id="end"><%= event.end %></span></p>
                    <p><i class="fa fa-location-arrow"></i> <%= event.location %></p>
                </div>
            </div>
        </div>        
    </div>
    <div class="container event-desc">
        <div class="row">
            <div class="col-md-8">
                <%- event.description %>    
            </div>
            <div class="col-md-4">
                <p class="fees">Fees</p>
                <% for(var i = 0; i < event.tickets.length; i++) { %>
                <% var ticket = event.tickets[i] %>
                    <p><%= ticket.name %> <span class="pricetag">$<%= ticket.price %></span></p>
                    <p><%= ticket.description %></p>
                    <hr />
                <% } %>
            </div>
        </div>
    </div>
    <% include ../templates/javascripts.ejs %>
    <% include ../templates/footer.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script>
    
        $(document).ready(function() {
            <% if(event.cover_image != "") { %>
            var cover_image = window.location.protocol + '/\/' +  window.location.hostname +"/"+ "<%= event.cover_image %>"
            console.log(cover_image)
            $(".large-header").css("background-image", "url(" + cover_image + ")")
            <% } %>
            <% if(!sold_out) { %>
            var doc = "<%= event._id %>"
            
            xhrGet("/api/v1/get_types/" + doc, function(res){
                if(res) {
                    var tickets = res;
                    var strVar="";
                    strVar += "<hr>"
                    strVar += "<table class=\"table table-hover\">";
                    strVar += "  <thead>";
                    strVar += "    <tr>";
                    strVar += "      <th scope=\"col\">Name<\/th>";
                    strVar += "      <th scope=\"col\">Fee<\/th>";
                    strVar += "      <th scope=\"col\">#<\/th>";
                    strVar += "    <\/tr>";
                    strVar += "  <\/thead>";
                    strVar += "  <tbody>";
                    for(var i = 0; i < tickets.length; i++) {
                        var t = tickets[i]
                        strVar += "<tr>";
                        strVar += "    <th scope='row'>"+t.name+"</th>"
                        strVar += "   <td>"+t.price+"</td>"
                        strVar += "   <td><a class='btn btn-info' href='/event_handler/purchase_ticket/" + doc + "/" + t._id + "'>Purchase</a></td>"
                        strVar += "<\/tr>";
                    }
                    strVar += "   <\/tbody>";
                    strVar += "<\/table>";
        
                    $("#get_tickets").click(function() {
                        swal({
                          title: '<%= event.name %>',
                          html: strVar,
                          showCloseButton: true,
                          showCancelButton: false,
                          showConfirmButton: false
                        })
                    })
                }
            })
            <% } %>
            $("#start").each(function() {
              $(this).text(moment($(this).text()).format('lll'));
            })
            $("#end").each(function() {
              $(this).text(moment($(this).text()).format('lll'));
            })
        })
    </script>
  </body>
</html>
