<!DOCTYPE html>
<html>
  <head>
    <% include ./templates/head.ejs %>
  </head>
  <body>
    <% include ./templates/navigation.ejs %>
    <% include ./templates/breadcrumb.ejs %>
    <div class="container about">
      <h5 class="display-5">About Us <small>Who's helping you sell tickets?</small></h5> 

      <p>Hey there! We're Ticketer, a company which helps you create a seamlessly easy experience for your fans and buyers - we provide a secure
      environment for both our users and yours. The project first started on the 23rd of January 2018, where our developers started the website.
      
      Our number one goal is to provide a fast experience and a smooth transaction for the end user, to do this we use Stripe, a very popular payment-processing
      unit which allows us to further develop that seamless experience we've maintained for your users. Ticketer also comes at a very good price, so that
      all ticket sellers can afford our service.</p>
    </div>
    <% include ./templates/javascripts.ejs %>
  </body>
</html>
