<!DOCTYPE html>
<html>
  <head>
    <!-- <% include ./templates/head.ejs %> -->
  </head>
  <body>
    <!--<div class="container">
      <div class="seperate-form-div">
        <h4 class="display-4">ERROR <%= error.status || 500 %></h4>
        <p>There has been an error, you will be redirected in 5 seconds.</p>
      </div>
    </div>-->
    <p><%= error.stack %></p>
    <script>
        /*window.setTimeout(function(){
    
            // Move to a new location or you can do something else
            window.location.href = "/panel";
    
        }, 5000);*/
    </script>
  </body>
</html>
