<!DOCTYPE html>
<html>
  <head>
    <% include ./templates/head.ejs %>
  </head>
  <body>
    <% include ./templates/navigation.ejs %>
    <div id="buyer_content">
      <div class="container">
        <div class="search_field">
          <div class="row">
            <div class="col-md-4">
              <form action="/discover" method="get">
                <div class="form-group">
                  <input type="text" class="form-control" id="search" name="search" placeholder="Search for an event...">
                </div>
              </form>
            </div>
            
            <div class="col-md-8 text-right">
              <a style="margin-top:2px" class="btn btn-info" href="/register">Want to create an event?</a>
            </div>
          </div>
        </div>
        <section class="random_event section">
          <h4 id="scroll1">Random Event <small>Totally random every time you refresh</small></h4>
          <hr />
          <div class="ev">
            <a style="text-decoration:none" href="/event_handler/view_event/<%= random._id %>">
              <div class="event random" url="<%= random.cover_image %>"></div>
              <div class="event_content">
                <p style="font-weight:bold;"><%= random.name %></p>
                <p style="color:rgba(0,0,0,.4);font-size:16px;"><%= random.location %></p>
              </div>  
            </a>
          </div>
        </section>
        <section class="featured_events section">
          <h4>Recent Events <small>Latest posted events...</small></h4>
          <hr />
          <div class="row" style="margin-left:0">
            <% for(var i = 0; i < recent.length; i++) { %>
            <% var r = recent[i] %>
              <div class="col-md-3">
                <div class="ev">
                  <a style="text-decoration:none" href="/event_handler/view_event/<%= r._id %>">
                    <div class="event" url="<%= r.cover_image %>"></div>
                    <div class="event_content">
                      <p style="font-weight:bold;"><%= r.name %></p>
                      <p style="color:rgba(0,0,0,.4);font-size:16px;"><%= r.location %></p>
                    </div>  
                  </a>
                </div>
              </div>  
            <% } %>        
          </div>
        </section>
      </div>  
    </div>
    <div id="seller_content">
      <div class="container">
        <div class="main-content-template">
          <div class="features-content">
            <h4 id="scroll2" class="display-4">Why us?</h3>
            <p class="lead">Here's a couple reasons why we're special.</p>
            <div class="row features">
              <div class="col-md">
                <i class="fa fa-fighter-jet fa-3x" aria-hidden="true"></i>
                
                <p>The delay between purchasing a ticket and receiving the ticket is second to none. We provide the most seamless experience on the internet.</p>
              </div>
              
              <div class="col-md">
                <i class="fa fa-id-card fa-3x" aria-hidden="true"></i>
                
                <p>Paperless authentication & ticket redeeming - simply enter the ticket owners code and everything else is done for you.</p>
              </div>
              
              <div class="col-md">
                <i class="fa fa-fighter-jet fa-3x" aria-hidden="true"></i>
                
                <p>The delay between purchasing a ticket and receiving the ticket is second to none. We provide the most seamless experience on the internet.</p>
              </div>
            </div>
            <div class="row features">
              <div class="col-md">
                <i class="fas fa-coffee fa-3x" aria-hidden="true"></i>
                
                <p>The best part of it all, we only take 2.9% + 60p commission, usually thats just around 1/6 of a coffee!</p>
              </div>
              
              <div class="col-md">
                <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
                
                <p>We provide our service internationally supporting many different types of credit and debit cards for your fans to purchase with.</p>
              </div>
              
              <div class="col-md">
                <i class="fas fa-eye fa-3x" aria-hidden="true"></i>
                
                <p>With realtime viewing of your event, as well as various different types of analytics on your fanbase, you can establish a brilliant demographic to increase
                purchases of your next event.</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    
      <div class="main-content-template" id="pricing">
        <div class="container">
          <div class="pricing">
            <h4 class="display-4">Our Pricing</h3>
            <p class="lead">One of our most proud features, pricing.</p>
            <div class="container" style="width:80%">
              <div class="row pricing-table">
                <div class="col-md">
                  <div class="pricing-block" id="starter">
                    <i class="fa fa-bicycle fa-3x" aria-hidden="true"></i>
                    
                    <h3>Starter</3>
                    
                    <p id="pricetag"><span class="pricetag-span">$0</span> / lifetime</p>
                    
                    <div class="features-pricing">
                      <p>2.9% of Ticket + 60p</p>
                      <p>No Custom Branding</p>
                      <p>Limited Support</p>
                    </div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="pricing-block" id="advanced">
                    <i class="fa fa-motorcycle fa-3x" aria-hidden="true"></i>
                    
                    <h3>Advanced <span class="btn btn-success" style="margin:0;margin-top:-5px;padding:5px;font-size:20px;border-radius:0;">DISCOUNTED</span></h3>
                    
                    <p id="pricetag"><span class="pricetag-span">$19.99</span> / month</p>
                    
                    <div class="features-pricing">
                      <p>1.9% of Ticket + 30p</p>
                      <p>Custom Branding</p>
                      <p>24/7 Email Support</p>
                    </div>
                  </div>
                </div>
              </div>            
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <% include ./templates/footer.ejs %>
    <% include ./templates/javascripts.ejs %>
    
    <script type="application/javascript">
      $(document).ready(function() { 
        $(".event").each(function() {
          var a = this;
          if($(a).hasClass("random")) {
            $(a).css("height", "300px")
          }
          var cover_image = window.location.protocol + '/\/' +  window.location.hostname +"/"+ $(a).attr("url")
          $(a).css("background", "url('" + cover_image + "')")
          $(a).css("background-position", "center")
          $(a).css("background-size", "cover")
        })
        $("#seller_content").fadeOut(0)
        $("#buyer_content").fadeOut(0)
        $(".sales_xd").fadeOut(0)
        
        $("#buyer").click(function() {
          
          $("#seller_content").fadeOut(500, function() {
            $("#buyer_content").fadeIn(500, function() {
              $(".header").css("height", "auto")
              $(".header .jumbotron").css("padding-top", "20px")
            })
            var target = $('#scroll1');
            if (target.length)
            {
                var top = target.offset().top;
                $('html,body').animate({scrollTop: top}, 1000);
                return false;
            }        
          })
        })
        
        $("#seller").click(function() {
          
          $(".header").css("height", "auto")
          $(".header .jumbotron").css("padding-top", "20px")
          
          $("#buyer_content").fadeOut(500, function() {
            $("#seller_content").fadeIn(500, function() {
              $(".header").css("height", "auto")
              $(".header .jumbotron").css("padding-top", "20px")
            })
            var target = $('#scroll2');
            if (target.length)
            {
                var top = target.offset().top;
                $('html,body').animate({scrollTop: top}, 1000);
                return false;
            }            
          })
        })
      })  
    </script>
  </body>
</html>
