<% if(route == "/") { %>
<div class="sales_xd">
  <div class="container" style="padding:0">
    <div class="row">
      <div class="col-md"><p><span class="btn btn-success" style="margin:0;margin-top:-5px;padding:5px;font-size:20px;border-radius:0;">NEW</span> 50% OFF UNTIL YOU CANCEL!</p></div>
      <div class="col-md" style="text-align:right;"><a href="/login" class="btn btn-info">PURCHASE NOW</a></div>
    </div>
  </div>
</div>
<% } %>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 style="color:#eee">Ticketer</h4>
                <p>Ticketer provides a seamlessly smooth and easeless experience for your fans and ours! 
                Making sure to maintain a fast transaction-process as well as our 24/7 uptime to ensure you get everything
                completely sold out which includes our email and chat support system.</p>
            </div>
            
            <div class="col-md-2">
                <h4 style="color:#eee">Links</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>
            
            <div class="col-md-2">
                <h4 style="color:#eee">Panel</h4>
                <ul>
                    <li><a href="/panel">Analytics</a></li>
                    <li><a href="/panel/withdraw">Payouts</a></li>
                    <li><a href="/panel/transactions">Transactions</a></li>
                    <li><a href="/panel/events">Events</a></li>
                </ul>
            </div>
        </div>
        <p>Copyright &copy; Ticketer 2017 - 2018</p>
        <p id="credits">Designed and Developed by <a href="https://charliejames.me/">Charlie James</a></p>
    </div>
</div>