<title>Ticketer - <%= title %></title>
<link rel='stylesheet' href='https://bootswatch.com/4/litera/bootstrap.min.css' />
<link rel='stylesheet' href='https://bootswatch.com/4/litera/_bootswatch.scss' />
<link rel='stylesheet' href='https://bootswatch.com/4/litera/_variables.scss' />
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/css/tether.min.css" />
<link rel='stylesheet' href='/stylesheets/wizard.css' />
<script src="/javascripts/api.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
<link rel='stylesheet' href='/stylesheets/style.css' />