<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<script src="/javascripts/datatables.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
<script src="https://unpkg.com/sweetalert2@7.7.0/dist/sweetalert2.all.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
<% if(error != null) { %>
  <script type="application/javascript">$.notify("<%= error %>", "error", {"position" : "top center"});</script>
<% } %>

<% if(success != null) { %>
  <script type="application/javascript">$.notify("<%= success %>", "success", {"position" : "top center"});</script>
<% } %>

<% if(user) { %>
<script>
  var doc = "<%= user.stripeCustomerToken %>";
  $(document).ready(function() {
    xhrGet('/api/v1/get_user/' + doc, function(res) {
      if(res && res.legal_entity && res.legal_entity.verification && res.legal_entity.verification.status == "verified") {
        $("#account_status").removeClass("unverified")
        $("#account_status").addClass("verified").text("Verified")
      }
    });    
  })
  $('[data-toggle="tooltip"]').tooltip()
  $(".services_agreement").click(function() {
    swal({
      title: 'Service Agreement',
      type: 'info',
      width: '60%',
      html: 'Payment processing services for sellers on Ticketer are provided by Stripe and are subject to the <a class="link_popup" href="https://stripe.com/connect-account/legal">Stripe Connected Account Agreement<a/>, which includes the <a class="link_popup" href="https://stripe.com/legal">Stripe Terms of Service</a> (collectively, the “Stripe Services Agreement”). By agreeing to this agreement or continuing to operate as a seller on Ticketer, you agree to be bound by the Stripe Services Agreement, as the same may be modified by Stripe from time to time. As a condition of Ticketer enabling payment processing services through Stripe, you agree to provide Ticketer accurate and complete information about you and your business, and you authorize Ticketer to share it and transaction information related to your use of the payment processing services provided by Stripe.',
      showCloseButton: true,
      showCancelButton: false,
      showConfirmButton: false
    })
  })
</script>
<% } %>