<div class="<% if(route == "/") { %>header<% } %><% if(route != "/" && !route.includes("event_handler")) { %>add_blue<% } %>">
    <nav class="navbar navbar-expand-lg <% if(route == '/') { %> navbar-dark bg-dark <% } else { %> navbar-dark bg-primary <% } %><% if(route.includes("event_handler")) { %>bg_event<% } %>">
      <a class="navbar-brand" href="/">Ticketer</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <% if(route == '/') { %>active<% } %>">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item <% if(route == '/about') { %>active<% } %>">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item <% if(route == '/discover') { %>active<% } %>">
            <a class="nav-link" href="/discover">Discover</a>
          </li>
        </ul>
        
        <ul class="navbar-nav ml-auto">
          <% if(!user && !route.includes("event_handler")) { %>
          
            <li class="nav-item <% if(route == '/login') { %>active<% } %>">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item <% if(route == '/register') { %>active<% } %>">
              <a class="nav-link" href="/register">Register</a>
            </li>
            
          <% } else if(!route.includes("event_handler")) { %>
          
            <li class="nav-item <% if(route == '/panel') { %>active<% } %>">
              <a class="nav-link" href="/panel">My Panel</a>
            </li>
            <li class="nav-item <% if(route == '/logout') { %>active<% } %>">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            
          <% } %>
          <% if(route.includes("event_handler")) { %>
            <form action="/discover/search" method="post" class="search form-inline my-2 my-lg-0">
              <input type="text" placeholder="Enter name...">
              <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
            </form>
          <% } %>
        </ul>
      </div>
    </nav>
    <div class="<% if(route == "/") { %>container<% } %><% if(route != "/") { %>container-fluid<% } %>">

        
      <% if(route == '/') { %>
      <div class="jumbotron">
        <h1 class="display-3">Hello there</h1>
         <p class="lead">Offering tickets worldwide to hundreds of nations powering some of the best events on the planet!</p>
         <p>We use a combination of tools to allow a seamless and hassle-free experience for both the sellers and buyers.</p>
         <p class="lead">
            <button id="seller" style="text-align:right" class="btn btn-info">
              <p style="font-size:18px;color:rgba(255,255,255,.7);padding:0;margin:0;">I AM A</p>
              <p style="margin:0;padding:0;font-size:30px;font-weight:bold;font-family:'Oswald',sans-serif;">SELLER</p>
            </button>
            <button id="buyer" style="text-align:left" class="btn btn-success">
              <p style="font-size:18px;color:rgba(255,255,255,.7);padding:0;margin:0;">I AM A</p>
              <p style="margin:0;padding:0;font-size:30px;font-weight:bold;font-family:'Oswald',sans-serif;">VIEWER</p>
            </button>
         </p>
      </div>
      
      <% } %>
    </div>
</div>

