<!DOCTYPE html>
<html>
  <head>
    <% include ../templates/head.ejs %>
  </head>
  <body>
    <% include ../templates/navigation.ejs %>
    <div class="main-panel-content">
      <div class="row">
        <div class="col-md-2 sidebar">
          <% include ../templates/panel/navigation.ejs %>
        </div>
        <div class="col-md-10">
          <% include ../templates/panel/header.ejs %>

          <div class="panel-content-main-section">
            <div class="panel-content-header">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="display-5">Main Settings</h5><small>If you wish to change ownership by switching your first/last name, your account may become un-verified for a short time. </small></h5>
                </div>
              </div>
            </div>
            
            <div class="panel-content-new">
              <form action="/billing/update_account" method="post" id="change_account_details">
                <div class="form-group">
                  <label>First Name</label>
                  <input value="<%= customer.full.legal_entity.first_name %>" name="first_name" class="form-control" placeholder="Enter first name...">
                </div>
                
                <div class="form-group">
                  <label>Last Name</label>
                  <input value="<%= customer.full.legal_entity.last_name %>" name="last_name" class="form-control" placeholder="Enter last name...">
                </div>
                
                <div class="form-group">
                  <label>City</label>
                  <input value="<%= customer.full.legal_entity.address.city %>" name="city" class="form-control" placeholder="Enter city...">
                </div>
                
                <div class="form-group">
                  <label>Address</label>
                  <input value="<%= customer.full.legal_entity.address.line1 %>" name="line1" class="form-control" placeholder="Enter address...">
                </div>
                
                <div class="form-group">
                  <label>Postal code</label>
                  <input value="<%= customer.full.legal_entity.address.postal_code %>" name="postal_code" class="form-control" placeholder="Enter postal code...">
                </div>
                
                <div class="form-group">
                  <label>State</label>
                  <input value="<%= customer.full.legal_entity.address.state %>" name="state" class="form-control" placeholder="Enter state name...">
                </div>
                
                <button class="btn btn-lg btn-success submit text-right" type="submit">Update Account</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <% include ../templates/javascripts.ejs %>
    <% include ../templates/footer.ejs %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>
    <script>
      Stripe.setPublishableKey('<%= keyPublishable %>');
      
      $("#change_account_details button").click(function(e) {
        e.preventDefault();
        $.each($("#change_account_details input"), function(index, formField) {
            if($(formField).val() == "") {
              $.notify("Please complete all fields in the form - change account details / verify.", "error", {"position" : "top center"});
              return false;
            }
            
            if(index+1 == $("#change_account_details input").length) {
              $("#change_account_details").find('.submit').prop('disabled', true).html("<i class='fa fa-spinner fa-spin'></i> Updating...");
              $("#change_account_details").submit()
            }
        })
        
      })
    </script>
  </body>
</html>
