<!DOCTYPE html>
<html>
  <head>
    <% include ../templates/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/datetimepicker.css" />
    <link rel="stylesheet" href="/stylesheets/uploader.css" />
  </head>
  <body>
    <% include ../templates/navigation.ejs %>
    <div class="main-panel-content">
      <div class="row">
        <div class="col-md-2 sidebar">
          <% include ../templates/panel/navigation.ejs %>
        </div>
        <div class="col-md-10">
          <% include ../templates/panel/header.ejs %>
          <div class="panel-content-main-section">
            <form id="wizard" method="post" action="/panel/my_events/create" class="wizard_form">
              <section title="Basic Details">
                <input type="hidden" id="total_tickets" name="total_tickets" value="1" />
                <div class="row">
                  <div class="col-md">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" name="name" aria-describedby="name" placeholder="Enter name of event...">
                    </div>
                  </div>
                  
                  <div class="col-md">
                    <div class="form-group">
                      <label for="location">Location</label>
                      <input type="text" class="form-control" id="location" name="location" placeholder="Enter location of event...">
                    </div>
                  </div>
                  
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control" id="description" name="description" aria-describedby="description" rows="10" placeholder="Enter brief description of the event..."></textarea>
                </div>
                
                <div class="row">
                  <div class="col-md">
                    <div class="form-group">
                      <label for="start">Start Date</label>
                      <input type="text" class="form-control form_datetime" id="start" name="start" placeholder="Enter start of event...">
                    </div>
                  </div>
                  
                  <div class="col-md">
                    <div class="form-group">
                      <label for="end">End Date</label>
                      <input type="text" class="form-control form_datetime" id="end" name="end" placeholder="Enter end of event...">
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <div class="form-group">
                      <label for="max_tickets">Ticket Limit <small>How many tickets can you sell?</small></label>
                      <input type="number" class="form-control" step="0.01" id="max_tickets" name="max_tickets" placeholder="Enter ticket limit...">
                    </div>
                  </div>
                </div>
              </section>
              
              <section id="ticket_details" title="Ticket Details">
                <div class="ticket">
                  <div class="row" style="margin-left:0px">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="ticket_name_1">Name</label>
                        <input type="text" class="form-control" id="ticket_name_1" name="ticket_name_1" placeholder="Enter name of ticket...">
                      </div>                          
                    </div>
                    
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="ticket_desc_1">Brief Description</label>
                        <input class="form-control" id="ticket_desc_1" rows="5" name="ticket_desc_1" placeholder="Enter description of ticket...">
                      </div>
                    </div>     
                    
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="ticket_price_1">Price</label>
                        <input type="number" class="form-control" step="0.01" id="ticket_price_1" name="ticket_price_1" placeholder="Enter ticket price...">
                      </div>  
                    </div>
                    
                    <div class="col-md-1"><label style="opacity:0;">d</label><button type="button" class="btn btn-danger" id="delete_ticket"><i class="fa fa-trash" aria-hidden="true"></i></button></div>
                    
                  </div>
                  
                </div>  
                
                <button type="button" class="btn btn-success" id="add_ticket"><i class="fas fa-plus-square"></i> Add a Ticket</button>
              </section>
              
              <section title="Cover Image">
                <input type="hidden" name="cover_image" id="cover_image" />
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    
                    <!-- Our markup, the important part here! -->
                    <div id="drag-and-drop-zone" class="dm-uploader p-5">
                      <h3 class="mb-5 mt-5 text-muted">Drag &amp; drop files here <small>Cover Image</small></h3>
                      <p>If you upload several files, the latest one will be used as the cover image.</p>
          
                      <div class="btn btn-primary btn-block mb-5">
                          <span>Open the file Browser</span>
                          <input type="file" title='Click to add Files' />
                      </div>
                    </div><!-- /uploader -->
          
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="card h-100">
                      <div class="card-header">
                        File List
                      </div>
          
                      <ul class="list-unstyled p-2 d-flex flex-column col" id="files">
                        <li class="text-muted text-center empty">No files uploaded.</li>
                      </ul>
                      
                      <p style="padding-left:15px">3MB Maximum - only PNG/JPG.</p>
                    </div>
                  </div>
                </div>
              </section>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% include ../templates/javascripts.ejs %>
    <script src="/javascripts/datetimepicker.js"></script>
    <script src="/javascripts/wizard.js"></script>
    <script src="/javascripts/uploader.js"></script>
    <script src="/javascripts/single.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.7.0/jquery.geocomplete.min.js"></script>
    <script type="application/javascript">
      $("#wizard").wizard()
      $("#location").geocomplete();
      
      var tickets = 0;
      $(document).ready(function() {
        $('#description').summernote({
          placeholder: 'Enter event details...',
          tabsize: 3,
          height: 350
        });
        $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
        const clone = $('.ticket');
        
        $(".ticket").each(function() {
          var ticket = this;
          $(ticket).attr("id", "ticket_" + tickets)
          $(ticket).find("#delete_ticket").attr("link", "raw_ticket_" + tickets)
        })
        
        $("#add_ticket").click(function() {
          tickets = tickets + 1;
          
          var ticket_code = 'ticket_'+tickets;
          
          $("#total_tickets").val(tickets+1);
          
          var $klon = clone.clone().prop('id', ticket_code);
          
          $($klon).find("#delete_ticket").attr("link", "raw_" + ticket_code)
          $($klon).find("#ticket_name_1").attr("name", "ticket_name_" + (tickets+1))
          $($klon).find("#ticket_desc_1").attr("name", "ticket_desc_" + (tickets+1))
          $($klon).find("#ticket_price_1").attr("name", "ticket_price_" + (tickets+1))
          
          $($klon).find("#ticket_name_1").attr("value", "")
          $($klon).find("#ticket_desc_1").attr("value", "")
          $($klon).find("#ticket_price_1").attr("value", "")
          
          $(this).before($klon);
          $klon.slideUp(0, function() {
            $klon.slideDown("fast")
          })
        
        });
        
        validate.extend(validate.validators.datetime, {
          // The value is guaranteed not to be null or undefined but otherwise it
          // could be anything.
          parse: function(value, options) {
            return +moment.utc(value);
          },
          // Input is a unix timestamp
          format: function(value, options) {
            var format = options.dateOnly ? "YYYY-MM-DD" : "YYYY-MM-DD hh:mm:ss";
            return moment.utc(value).format(format);
          }
        });
        
        $("#wizard").submit(function(event) {
          var constraints = {
            name: {length: {minimum: 5, maximum: 64}},
            location: {length: {minimum:3, maximum: 64}}
          };
          var start = validate({"Event start": $("#start").val()}, {"Event start": {datetime: true}});
          var end = validate({"Event end": $("#end").val()}, {"Event end": {datetime: true}});
          var location = validate({location: $("#location").val()}, constraints);
          var name_text = $("#name").val()
          var main_desc = $("#description").val()
          var max_tickets = $("#max_tickets").val()

          var values = {
            name: name_text
          };
          
          var name = validate(values, constraints);
          var val_tickets = validate({max_tickets: max_tickets}, {max_tickets: {numericality: true}});
        
          $(".ticket").each(function() {
            var t = this;
            
            var desc = $(t).find("#ticket_desc_1").val()
            var price = $(t).find("#ticket_price_1").val()
            var ticket_name = $(t).find("#ticket_name_1").val()
            
            var val_name = validate({name: ticket_name}, constraints);
            var val_price = validate({price: price}, {price: {numericality: true}});
            if(desc == "") {
              event.preventDefault()
              $.notify("Please enter a description for the tickets.", "error", {"position" : "top center"});
            }
            if(val_name != undefined) {
              event.preventDefault()
              $.notify(val_name.name, "error", {"position" : "top center"});
            }
            
            if(val_price != undefined) {
              event.preventDefault()
              $.notify(val_price.price, "error", {"position" : "top center"});
            }
          })
          if(main_desc == "") {
            event.preventDefault()
            $.notify("Please enter a description for Step 1.", "error", {"position" : "top center"});            
          }
          if(location != undefined) {
            event.preventDefault()
            $.notify(location.location, "error", {"position" : "top center"});
          }
          if(name != undefined) {
            event.preventDefault()
            $.notify(name.name, "error", {"position" : "top center"});
          }
          if(end != undefined) {
            event.preventDefault()
            $.notify("Please enter a valid date for the event end.", "error", {"position" : "top center"});
          }
          if(start != undefined) {
            event.preventDefault()
            $.notify("Please enter a valid date for the event start.", "error", {"position" : "top center"});
          }
          if(val_tickets != undefined) {
            event.preventDefault()
            $.notify("Please enter a valid number for maximum tickets.", "error", {"position" : "top center"});            
          }
          
          if(event.isDefaultPrevented() != true) {
            $("#wizard").find('.btn .btn-success').prop('disabled', true).html("<i class='fa fa-spinner fa-spin'></i> Creating...");
          }
        })
      })
      
      $(document).on('click', "#delete_ticket", function() {
        tickets = tickets - 1;
        $("#total_tickets").val(tickets+1);
        var link = $(this).attr("link");
        var res = link.replace("raw_", "");
        var rm = $("#" + res);
        rm.slideUp('fast', function() {
          rm.remove()
        })
      });

    </script>
    <script type="text/html" id="files-template">
      <li class="media">
        <div class="media-body mb-1">
          <p class="mb-2">
            <strong>%%filename%%</strong> - Status: <span class="text-muted">Waiting</span>
          </p>
          <div class="progress mb-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" 
              role="progressbar"
              style="width: 0%" 
              aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
          <hr class="mt-1 mb-1" />
        </div>
      </li>
    </script>
    <% include ../templates/footer.ejs %>

  </body>
</html>
