<!DOCTYPE html>
<html>
  <head>
    <% include ../templates/head.ejs %>
  </head>
  <body>
    <% include ../templates/navigation.ejs %>
    <div class="main-panel-content">
      <div class="row">
        <div class="col-md-2 sidebar">
          <% include ../templates/panel/navigation.ejs %>
        </div>
        <div class="col-md-10">
          <% include ../templates/panel/header.ejs %>

          <div class="panel-content-main-section">
            <div class="panel-content-header">
              <div class="row">
                <div class="col-md-7">
                  <h5 class="display-5">Active Events <small>All your active events that are running right now.</small></h5>
                </div>
                <div class="col-md-5">
                  <div class="panel-buttons">
                    <button id="view_event" class="btn btn-info">View</button>
                    <a href="/panel/my_events/create" id="create_event" class="btn btn-success">Create</a>
                    <button id="edit_event" class="btn btn-warning">Edit</button>
                    <button id="delete_event" class="btn btn-danger">Delete</button>
                  </div>
                </div>
              </div>
            </div>
            <table id="events_table" class="table panel-table" >
              <thead>
                <tr>
                  <th><input type="checkbox" id="check_all"></th>
                  <th>Name</th>
                  <th>Location</th>
                  <th>Sold</th>
                  <th>Limit</th>
                  <th>Dates</th>
                  <th>Statistics</th>
                </tr>
              </thead>
              <tbody>
                <% if(events != undefined) { %>
                  <% events.forEach(function(event) { %>
                  <tr class="event">
                    <th scope="row">
                      <input type="checkbox" value="<%= event._id %>">
                    </th>
                    <td><%= event.name %></td>
                    <th scope="row"><%= event.location %></th>
                    <td><%= event.sold %></td>
                    <td><%= event.maximum_tickets %></td>
                    <td><span class="start_date"><%= event.start %></span> to <span class="end_date"><%= event.end %></span></th>
                    <td><a class="btn btn-info" href="/panel/statistics/<%= event._id %>"><i class="fas fa-chart-pie"></i></a></td>
                  </tr>
                  <% }) %>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <% include ../templates/javascripts.ejs %>
    <% include ../templates/footer.ejs %>
    
    <script>
      $(".start_date").each(function() {
        $(this).text(moment($(this).text()).format('lll'));
      })
      $(".end_date").each(function() {
        $(this).text(moment($(this).text()).format('lll'));
      })
      $("#view_event").click(function() {
        var checked = $('#events_table').find('input[type="checkbox"]:checked');
        if(checked.length == 0) {
          swal({
            title: 'No events are selected!',
            type: 'error'
          })      
          return;
        }
        checked.each(function() {
          var box = this;
          var event_id = $(box).attr("value")
          
          var win = window.open("/event_handler/view_event/" + event_id, '_blank');
          win.focus();
        })
      })
      $("#edit_event").click(function() {
        var checked = $('#events_table').find('input[type="checkbox"]:checked');
        if(checked.length == 0) {
          swal({
            title: 'No events are selected!',
            type: 'error'
          })      
          return;
        }
        checked.each(function() {
          var box = this;
          var event_id = $(box).attr("value")
          
          var win = window.open("/panel/my_events/edit/" + event_id, '_blank');
          win.focus();
        })
      })
      
      $("#delete_event").click(function() {
        var checked = $('#events_table').find('input[type="checkbox"]:checked');
        if(checked.length == 0) {
          swal({
            title: 'No events are selected!',
            type: 'error'
          })      
          return;
        }
        if(checked.length > 1) {
          swal({
            title: 'We can only delete one event at a time!',
            type: 'error'
          })      
        } else {
          var box = $(checked)[0]
          var event_id = $(box).attr("value")
          swal({
            title: 'Are you sure?',
            type: 'warning',
            html: "Please confirm you would like to delete this event!",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
            if (result.value) {
              window.location = "/panel/my_events/delete/" + event_id, '_blank'
            }
          })
        }
      })
      $(".panel-table").DataTable();
      $(".dataTables_filter input").addClass("form-control")
      $(".dataTables_filter input").attr("placeholder", "Search database...")
    </script>
  </body>
</html>
