<% var stop = ["legal_entity.verification.document", "external_account", "legal_entity.additional_owners", "tos_acceptance.ip", "tos_acceptance.date", "legal_entity.type", "legal_entity.dob.day", "legal_entity.dob.month", "legal_entity.dob.year" ] %>

<% for(var i = 0; i < verification_fields.length; i++) { %>
  <% if(stop.indexOf(verification_fields[i]) >= 0) { %>
    <% verification_fields.splice(i, 1); %>
  <% } %> 
<% } %>

<!DOCTYPE html>
<html>
  <head>
    <% include ../templates/head.ejs %>
  </head>
  <body>
    <% include ../templates/navigation.ejs %>
    <div class="main-panel-content">
      <div class="row">
        <div class="col-md-2 sidebar">
          <% include ../templates/panel/navigation.ejs %>
        </div>
        <div class="col-md-10">
          <% include ../templates/panel/header.ejs %>
          <% if(customer.full.legal_entity.verification.status == "unverified") { %>
             <div class="container">
              <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">Warning! You're account has not been enabled for payouts.</h4>
                <% if(customer.full.verification.fields_needed.length != 0) { %>
                  <p class="mb-0">Please use all the forms in this page to verify your account.</p>
                  <br /><p>You need to fill the following: </p>
                    <% var arr = customer.full.verification.fields_needed; %>
                    <ul>
                    <% for(var i = 0; i < arr.length; i++) { %>
                      <% var field = arr[i] %>
                      <% var str = field.replace("legal_entity","") %>
                      <% str = str.replace(" ","").replace(/_/g, " ").replace(/\./g,' ') %>
                      <% str = str.toUpperCase() %>
                      <li><%= field == "external_account" ? "BANK ACCOUNT" : str %></li>
                    <% } %>
                    </ul>
                <% } else { %>
                  <p class="mb-0">We're not too sure why though! Please contact support so we can fix this for you.</p>
                  <p class="mb-0">Please make sure to complete all the fields on this page!</p>
                <% } %>
              </div>   
            </div>           
          <% } else { %>
            <div class="container">
              <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">Your identity has been verified. <%= customer.full.payouts_enabled == true ? "Payouts are also currently enabled." : "While your account has been verified, you still need to provide a bank account so we can make payouts to you." %></h4>
                <p class="mb-0"></p>
              </div>            
            </div>   
          <% } %>

          <div class="panel-content-main-section">
            <div class="panel-content-header">
              <div class="row">
                <div class="col-md-7">
                  <h5 class="display-5">Balance: <%= customer.balance %><small> (Pending: <%= customer.bal_pend %>)</small></h5>
                  <button type="button" class="btn btn-default" style="padding:0;margin:0;background:transparent;color:rgba(0,0,0,0.5)" data-toggle="tooltip" data-placement="right" title="When you receive funds, the funds are temporarily pending because our payment-processor needs to verify the authenticity of the transaction.">
                    Why is my balance pending?
                  </button>
                </div>
                <div class="col-md-5">
                  <div class="panel-buttons">
                    <a href="/panel/billing/withdraw" id="withdraw_balance" class="btn btn-success">Withdraw</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="panel-content-main-section">
            <div class="panel-content-header">
              <div class="row">
                <div class="col-md-7">
                  <h5 class="display-5">Change bank account <small>This will override your current account.</small></h5>
                </div>
              </div>
            </div>
            <div class="panel-content-new">
              <form action="/billing/update_card" method="post" id="change_card_details">
          
              <div class="row">
                <div class="col-md-8">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="errors"></div>
                      <div class="row">
                        <div class="col-md-8">
                          <div class="form-group">
                              <div class="form-group">
                                <label for="country">Country</label>
                                <select data-stripe="country" class="form-control bfh-countries" data-country="US" id="country" name="country" placeholder="Select country..."></select>
                              </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Currency</label>
                            <select class="form-control input-lg" id="currency" data-stripe="currency">
                              <option value="usd">USD</option>
                              <option value="aud">AUD</option>
                              <option value="brl">BRL</option>
                              <option value="cad">CAD</option>
                              <option value="eur">EUR</option>
                              <option value="gbp">GBP</option>
                              <option value="hkd">HKD</option>
                              <option value="jpy">JPY</option>
                              <option value="mxn">MXN</option>
                              <option value="nzd">NZD</option>
                              <option value="sgd">SGD</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6" id="routing_number_div">
                          <div class="form-group">
                            <label id="routing_number_label">Routing Number</label>
                            <input class="form-control input-lg bank_account" id="routing_number" type="tel" size="12" data-stripe="routing_number" placeholder="111000025" autocomplete="off">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label id="account_number_label">Account Number</label>
                            <input class="form-control input-lg bank_account" id="account_number" type="tel" size="20" data-stripe="account_number" placeholder="000123456789" autocomplete="off">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <button class="btn btn-lg btn-success submit text-right" type="submit">Update Bank Account</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Bootstrap bank account form ends here -->
          
              </form>              
            </div>
            
          </div>
          
          <% if(verification_fields.length > 0) { %>
          <div class="panel-content-main-section">
            <div class="panel-content-header">
              <div class="row">
                <div class="col-md-7">
                  <h5 class="display-5">Fields Required for Verification</h5><small>Please make sure these values are correct as possible, they will be used to verify your identity so you can withdraw revenue.</small></h5>
                </div>
              </div>
            </div>
            
            <div class="panel-content-new">
              <form action="/billing/verify_account" method="post" id="change_account_details">
                <% for(var i = 0; i < verification_fields.length; i++) {  %>
                  <% var field = verification_fields[i] %>
                  <% var str = field.replace("legal_entity","") %>
                  <% str = str.replace(" ","").replace(/_/g, " ").replace(/\./g,' ') %>
                  <% str = str.toUpperCase() %>
                  <% if(stop.indexOf(field) < 0) { %>
                    <div class="form-group">
                      <label id="<%= str %>"><b><%= str %></b></label>
                      <input value="<%= getValue(field) %>" class="form-control" id="<%= field %>" name="<%= field %>" placeholder="Enter<%= str %>...">
                    </div>
                  <% } %>
                <% } %>
                <button class="btn btn-lg btn-success submit text-right" type="submit">Update Account</button>
              </form>
            </div>
          </div><% } %>
          
          <div class="panel-content-main-section">
            <div class="panel-content-header">
              <div class="row">
                <div class="col-md-7">
                  <h5 class="display-5">Verification Document</h5><small>Please upload a photo of your government-issued ID or passport.</small></h5>
                </div>
              </div>
            </div>
            
            <div class="panel-content-new">
                <form ref='uploadForm' 
                  id='uploadForm' 
                  action='/billing/update_identity' 
                  method='post' 
                  encType="multipart/form-data">
                    <input type="file" name="sampleFile" />
                    <button class="btn btn-lg btn-success submit" type="submit">Update Identity</button>
                </form> 
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
    
    <% function getValue(entity) {
      var en = entity;
      var arr = en.split(".");
      var current = ""
      if(arr.length == 2) {
        return customer.full.legal_entity[arr[1]]
      } else if(arr.length == 3) {
        return customer.full.legal_entity[arr[1]][arr[2]]
      } else {
        return customer.full.legal_entity[arr[1]][arr[2]][arr[3]]
      }
    }%>
    
    <% include ../templates/javascripts.ejs %>
    <% include ../templates/footer.ejs %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>
    <script>
      Stripe.setPublishableKey('<%= keyPublishable %>');
      
      $("#uploadForm").on("submit", function(e) {
        $("#uploadForm").find('.submit').prop('disabled', true).html("<i class='fa fa-spinner fa-spin'></i> Updating...");
      })
      
      $("#change_account_details button").click(function(e) {
        e.preventDefault();
        $.each($("#change_account_details input"), function(index, formField) {
            if($(formField).val() == "") {
              $.notify("Please complete all fields in the form - change account details / verify.", "error", {"position" : "top center"});
              return false;
            }
            
            if(index+1 == $("#change_account_details input").length) {
              $("#change_account_details").find('.submit').prop('disabled', true).html("<i class='fa fa-spinner fa-spin'></i> Updating...");
              $("#change_account_details").submit()
            }
        })
        
      })
      
      $(function() {
        var $form = $('#change_card_details');
        $form.submit(function(event) {
          // Clear any errors
          $form.find('.has-error').removeClass('has-error');
          // Disable the submit button to prevent repeated clicks:
          $form.find('.submit').prop('disabled', true).html("<i class='fa fa-spinner fa-spin'></i> Creating account");
          // Request a token from Stripe:
          Stripe.bankAccount.createToken($form, stripeResponseHandler);
          
          // Prevent the form from being submitted:
          return false;
        });
        // Switch or hide 'routing number' depending on currency
        $('#currency').change(function(){
          $('#routing_number_div').show();
          $('#account_number_label').text('Account Number').next('input').attr('placeholder', '');
          $('#routing_number').attr('data-stripe', 'routing_number');
          switch (this.value) {
            case "usd":
              $('#routing_number_label').text('Routing Number').next('input').attr('placeholder', '111000000');
              break;
            case "eur":
              // No routing number needed
              $('#routing_number_div').hide();
              $('#routing_number').removeAttr('data-stripe');
              $('#account_number_label').text('IBAN').next('input').attr('placeholder','XX9828737432389');
              break;
            case "cad":
              $('#routing_number_label').text('Transit & Institution Number');
              break;
            case "gbp":
              $('#routing_number_label').text('Sort Code').next('input').attr('placeholder', '12-34-56');
              break;
            case "mxn":
              $('#routing_number_label').text('CLABE');
              break;
            case 'aud': case "nzd":
              $('#routing_number_label').text('BSB').next('input').attr('placeholder', '123456');
              break;
            case 'sgd': case "jpy": case "brl": case "hkd":
              $('#routing_number_label').text('Bank / Branch Code');
              break;
          }
        });
      });
      function stripeResponseHandler(status, response) {
        var $form = $('#change_card_details');
        if (response.error) {
          // Show the errors on the form
          $form.find('.errors').text(response.error.message).addClass('alert alert-danger');
          $form.find('.' + response.error.param).parent('.form-group').addClass('has-error');
          $form.find('button').prop('disabled', false).text('Save'); // Re-enable submission
        } 
        else { // Token was created!
          $form.find('.submit').html("<i class='fa fa-check'></i> Account added");
          
          // Get the token ID:
          var token = response.id;
          // Insert the token and name into the form so it gets submitted to the server:
          $form.append($('<input type="hidden" name="stripeToken" />').val(token));
          // Submit the form:
          $form.get(0).submit();
        }
      }
    </script>
  </body>
</html>
