<!DOCTYPE html>
<html>
  <head>
    <% include ../templates/head.ejs %>
  </head>
  <body>
    <% include ../templates/navigation.ejs %>
    <% include ../templates/breadcrumb.ejs %>
    <div class="container">
      <div class="seperate-form-div">
        <h4 class="display-4">Ticketer</h4>
        <form action="/login" method="post">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
            </div>
            <input type="email" class="form-control" id="email" name="email" aria-label="Email" aria-describedby="basic-addon1" placeholder="Enter email...">
          </div>
          <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2"><i class="fa fa-lock" aria-hidden="true"></i></span>
              </div>
            <input type="password" class="form-control" id="password" name="password" aria-label="Password" aria-describedby="basic-addon2" placeholder="Enter password...">
          </div>
          <div><a href="/forgot_password">Forgot password?</a></div>
          <button class="btn btn-primary" type="submit">Login</button>
        </form>
      </div>
    </div>
    <% include ../templates/javascripts.ejs %>
  </body>
</html>
