<!DOCTYPE html>
<html>
  <head>
    <% include ../templates/head.ejs %>
  </head>
  <body>
    <% include ../templates/navigation.ejs %>
    <div class="main-panel-content">
      <div class="row">
        <div class="col-md-2 sidebar">
          <% include ../templates/panel/navigation.ejs %>
        </div>
        <div class="col-md-10">
          <% include ../templates/panel/header.ejs %>
          <div class="panel-stats">
            <div class="row">
              <div class="col-md">
                <div id="one" class="panel-stat-block">
                  <div class="row">
                    <div class="col-md-7">
                      <p>Today</p>
                      <p>Sales</p>
                    </div>
                    
                    <div class="col-md-4">
                      <%= stats.today %>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-md">
                <div id="two" class="panel-stat-block">
                  <div class="row">
                    <div class="col-md-7">
                      <p>This Month</p>
                      <p>Sales</p>
                    </div>
                    
                    <div class="col-md-4">
                      <%= stats.month %>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-md">
                <div id="three" class="panel-stat-block">
                  <div class="row">
                    <div class="col-md-7">
                      <p>All Time</p>
                      <p>Sales</p>
                    </div>
                    
                    <div class="col-md-4">
                      <%= stats.all %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
          <div class="chart">
            <canvas id="myChart" style="max-width:95%"></canvas>
          </div>
          <script>
          var ctx = document.getElementById("myChart").getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                  datasets: [{
                      label: '# of Sales',
                      data: [10803, 3215, 53288, 9000, 3252, 543, 4568, 84722, 1403, 1943, 2482, 34592],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.8)',
                          'rgba(54, 162, 235, 0.8)',
                          'rgba(255, 206, 86, 0.8)',
                          'rgba(75, 192, 192, 0.8)',
                          'rgba(153, 102, 255, 0.8)',
                          'rgba(255, 159, 64, 0.8)',
                          'rgba(255, 22, 132, 0.8)',
                          'rgba(54, 67, 235, 0.8)',
                          'rgba(255, 21, 86, 0.8)',
                          'rgba(75, 98, 192, 0.8)',
                          'rgba(153, 32, 255, 0.8)',
                          'rgba(255, 100, 64, 0.8)',
                      ]
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  }
              }
          });
          </script>
        </div>
      </div>
    </div>
    
    <% include ../templates/javascripts.ejs %>
    <% include ../templates/footer.ejs %>
  </body>
</html>
