<!DOCTYPE html>
<html>
  <head>
    <% include ../templates/head.ejs %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.min.css" />
  </head>
  <body>
    <% include ../templates/navigation.ejs %>
    <% include ../templates/breadcrumb.ejs %>
    <div class="container">
      <div class="seperate-form-div" style="width:70%">
        <h4 class="display-4">Register</h4>
        <p class="lead">May take up to 1 minute to register, please do not close the window.</p>
          <form id="register" action="/register" method="post">
            <div class="row">
              <div class="col-md">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email...">
                </div>
                <div class="form-group">
                  <label for="country">Country</label>
                  <select id="country" name="country" class="form-control">
                    <option value="AT">Austria (AT)</option>
                    <option value="AU">Australia (AU)</option>
                    <option value="BE">Belgium (BE)</option>
                    <option value="CA">Canada (CA)</option>
                    <option value="CH">Switzerland (CH)</option>
                    <option value="DE">Germany (DE)</option>
                    <option value="DK">Denmark (DK)</option>
                    <option value="ES">Spain (ES)</option>
                    <option value="FI">Finland (FI)</option>
                    <option value="FR">France (FR)</option>
                    <option value="GB" selected="">United Kingdom (GB)</option>
                    <option value="HK">Hong Kong (HK)</option>
                    <option value="IE">Ireland (IE)</option>
                    <option value="IT">Italy (IT)</option>
                    <option value="JP">Japan (JP)</option>
                    <option value="LU">Luxembourg (LU)</option>
                    <option value="NL">Netherlands (NL)</option>
                    <option value="NO">Norway (NO)</option>
                    <option value="NZ">New Zealand (NZ)</option>
                    <option value="PT">Portugal (PT)</option>
                    <option value="SE">Sweden (SE)</option>
                    <option value="SG">Singapore (SG)</option>
                    <option value="US">United States (US)</option>
                </select>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Enter password...">
                </div>
                
                <div class="form-group">
                  <label for="confirm_password">Password</label>
                  <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm password...">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your details with anyone else.</small>
                </div>           
              </div>
              <div class="col-md">
                <div class="form-group">
                  <label for="first_name">First name</label>
                  <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter first name...">
                </div>
                
                <div class="form-group">
                  <label for="first_name">Last name</label>
                  <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter last name...">
                </div>
                
                <div class="form-group">
                  <label for="dob">Date of Birth</label>
                  <input type="date" class="form-control" id="dob" name="dob" placeholder="Enter date of birth...">
                </div>
                
                <div class="form-group">
                  <label for="type">Account Type</label>
                  <select class="form-control" id="type" name="type">
                    <option value="individual">Individual</option>
                    <option value="company">Company</option>
                  </select>
                </div>
              </div>
            
            </div>
            <div><a href="/login">Already have an account?</a></div>
            <button class="btn btn-primary" type="submit">Register</button>
            <div style="margin-top:10px">
              <p>By registering your account, you agree to our <span class="link_popup services_agreement">Services Agreement</span> and the <a href="https://stripe.com/connect-account/legal" class="link_popup">Stripe Connected Account Agreement</a>.</p>
            </div>
          </form>
      </div>
    </div>
    <% include ../templates/javascripts.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>
    <script>
      validate.extend(validate.validators.datetime, {
        // The value is guaranteed not to be null or undefined but otherwise it
        // could be anything.
        parse: function(value, options) {
          return +moment.utc(value);
        },
        // Input is a unix timestamp
        format: function(value, options) {
          var format = options.dateOnly ? "YYYY-MM-DD" : "YYYY-MM-DD hh:mm:ss";
          return moment.utc(value).format(format);
        }
      });
      $("#register button").click(function(event) {
        event.preventDefault();
        var email = $("#email").val();
        var l_name = $("#first_name").val();
        var f_name = $("#last_name").val();
        var dob = $("#dob").val();
        var password = $("#password").val();
        var c_password = $("#confirm_password").val();
        var type = $("#type").val()
        var vdob = validate({"Date of Birth": $("#dob").val()}, {"Date of Birth": {datetime: true}});
        if(type == "" || email == "" || l_name == "null" || f_name == "" || dob == "" || password == "" || c_password == "") {
          $.notify("Please complete all fields correctly.", "error", {"position" : "top center"});
        } else {
          if(password === c_password) {
            if(type.toLowerCase() != "individual" && type.toLowerCase() != "company") {
              $.notify("Invalid type of account.", "error", {"position" : "top center"});
            } else {
              if(vdob != undefined) {
                $.notify("Please make sure date of birth is a correct date.", "error", {"position" : "top center"});
              } else {
                $("#register").submit()
              }
            }
          } else {
            $.notify("Passwords do not match.", "error", {"position" : "top center"});
          }
        }
        
      })
    </script>
  </body>
</html>
