<!DOCTYPE html>
<html>
  <head>
    <% include ../templates/head.ejs %>
  </head>
  <body>
    <% include ../templates/navigation.ejs %>
    <div class="main-panel-content">
      <div class="row">
        <div class="col-md-2 sidebar">
          <% include ../templates/panel/navigation.ejs %>
        </div>
        <div class="col-md-10">
          <% include ../templates/panel/header.ejs %>

          <div class="panel-content-main-section">
            <div class="panel-content-header">
              <div class="row">
                <div class="col-md-6">
                  <h5 class="display-5">Support</h5>
                </div>
                <div class="col-md-6 text-right">
                  <a class="btn btn-info" href="/panel/support/all">My Tickets</a>
                </div>
              </div>
            </div>
            
            <div class="panel-content-new">
              <form action="/support/create_ticket" method="post">
                <div class="row">
                  <div class="col-md" style="padding-left:0">
                    <div class="form-group">
                      <label>Email</label>
                      <input required name="email" id="email" class="form-control" placeholder="Enter email...">
                    </div>                    
                  </div>
                  
                  <div class="col-md">
                    <div class="form-group">
                      <label>Subject</label>
                      <input required name="subject" id="subject" class="form-control" placeholder="Enter subject...">
                    </div>                    
                  </div>
                </div>
            
                <div class="form-group">
                  <label>Message</label>
                  <textarea required name="message" rows="10" id="message" class="form-control" placeholder="Enter message..."></textarea>
                </div>   
                
                <button id="create" class="btn btn-lg btn-success submit text-right" type="submit">Create Ticket</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <% include ../templates/javascripts.ejs %>
    <% include ../templates/footer.ejs %>
    <script>
      
      $("form").on('submit', function() {
        $(this).find('button').prop('disabled', true).html("<i class='fa fa-spinner fa-spin'></i> Creating...");
        $(this).submit()
      })
    </script>
  </body>
</html>
