<!DOCTYPE html>
<html>
  <head>
    <% include ../templates/head.ejs %>
  </head>
  <body>
    <% include ../templates/navigation.ejs %>
    <div class="main-panel-content">
      <div class="row">
        <div class="col-md-2 sidebar">
          <% include ../templates/panel/navigation.ejs %>
        </div>
        <div class="col-md-10">
          <% include ../templates/panel/header.ejs %>

          <div class="panel-content-main-section">
            <div class="panel-content-header">
              <div class="row">
                <div class="col-md">
                  <h5 class="display-5">My Transactions <small>All your transactions in one, cool, place.</small></h5>
                </div>
              </div>
            </div>
            <table class="table panel-table" >
              <thead>
                <tr>
                  <th>Receipt Email</th>
                  <th>Amount</th>
                  <th>Status</th>
                  <th>Created</th>
                </tr>
              </thead>
              <tbody>
                <% if(transactions && transactions.length != 0) { %>
                  <% transactions.forEach(function(txn) { %>
                  <tr class="event">
                    <td><%= txn.receipt_email %></td>
                    <td><%= "$" + txn.amount / 100 %></td>
                    <th><span class="<%= txn.paid == true ? "paid" : "unpaid" %>"><%= txn.paid == true ? "Paid" : "Unpaid" %></span></th>
                    <td class="created"><%= txn.created %></td>
                  </tr>
                  <% }) %>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <% include ../templates/javascripts.ejs %>
    <% include ../templates/footer.ejs %>
    
    <script>
      $(".created").each(function() {
        $(this).text(moment.unix($(this).text()).format('lll'));
      })
      $(".panel-table").DataTable();
      $(".dataTables_filter input").addClass("form-control")
      $(".dataTables_filter input").attr("placeholder", "Search database...")
    </script>
  </body>
</html>
