@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway:400,500,600,700,900|Roboto:100,200,300,400,500,700');

* {
  font-family: 'Raleway', sans-serif !important;
  font-weight:400;
}

.header {
  height:100vh;
  padding:0px;
  padding-bottom:50px;
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),
  url("https://images.unsplash.com/photo-1506485927884-1900e37ac5ed");
  background-attachment:fixed;
  background-size:cover;
}

.bg-dark {
  background:transparent !important;
  border:transparent;
  border-bottom:1px solid rgba(255,255,255,.1);
  border-radius:5px;
  padding:20px;
}

.bg-light {
  padding:20px;
}

.navbar a {
  font-weight:300;
}

.jumbotron {
  margin:0;
  padding-top:25vh;
  background:transparent;
  color:#fff;
  text-align:center;
}

.jumbotron .display-3 {
  font-size:80px;
  font-family:"Oswald",sans-serif;
}

.jumbotron .lead {
  color:rgba(255,255,255,.7);
}

.register_box {
  background:#eee;
  padding:40px;
}

.main-content-template {
  padding:100px;
}

.main-content-template .features .col-md {
  text-align: center;
}

.main-content-template .features .col-md i{
 display:block;
 margin-left: auto;
 margin-right:auto;
 font-size:60px;
 padding:20px;
}

.display-4 {
  text-align: center;
  color:rgba(0,0,0,.5);
  margin-bottom:30px;
  font-weight:700;
}

.footer {
  background:#111;
  padding:20px;
  text-align:center;
}

.footer p {
  color:#eee;
}

.footer #credits {
  color:rgba(255,255,255,.5);
}

.footer #credits a {
  text-decoration:none;
  color:rgba(255,255,255,.9);
  border-bottom:1px dotted rgba(255,255,255,.4);
}

#pricing {
  background:rgba(0,0,0,.05);
}

.main-content-template .lead {
  text-align:center;
  margin-bottom:30px;
  
}

.navbar {
  width:100%;
  border-radius:0;
}

.jumbotron {
  border-radius:0;
}

.pricing-block {
  border:1px solid rgba(0,0,0,.1);
  border-right:0;
  border-left:0;
  padding:20px;
  text-align:center;
}

#starter {
  margin-top:20px;
  background:#fff;
  color:#111;
}

#advanced {
  padding:20px 40px;
  background:#09f;
  color:#fff;
}

#advanced .pricetag-span {
  color:#fff;
}

#advanced i, #advanced p {
  color:rgba(255,255,255,.8);
}

#pricetag{
  padding:20px;
  font-weight:200;
  font-size:30px;
  color:rgba(0,0,0,.4);
}

.pricetag-span {
  color:#009DDC;
  font-weight:400;
}

.plans .pricing-block {
  margin-bottom:30px;
}

.features .svg-inline--fa {
  color:#09f;
  margin:30px;
}

.pricing-table .svg-inline--fa {
  margin:30px;
  font-size:4rem;
}

.plan-header .svg-inline--fa {
  margin:10px 0px;
  font-size:4rem;
}

.features-pricing p{
  font-weight:300;
  color:rgba(0,0,0,.4);
  font-size:24px;
  margin:5px 0px;
  padding:0;
}

.seperate-form-div {
  margin:100px;
  padding:50px;
  width:500px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  border-radius:12px;
  text-align:left;
}

.seperate-form-div .display-4{ 
  text-align:left;
  font-size:40px;
  font-family:"Oswald",sans-serif;
  color:#111;
  font-weight:normal;
}

.seperate-form-div .lead {
  font-size:14px;
}

.add_blue {
  background:#4582EC;
}

.panel-content-main-section{
  margin-bottom:20px;
}

.main-panel-content .row {
  margin:0;
  padding:0;
}

.main-panel-content .sidebar {
  padding:0;
  background:#3564B5;
}

.main-panel-content .col-md-10 {
  padding:0;
  background:rgba(0,0,0,.05);
  min-height: 100vh;
}

.main-panel-content .panel-header .lead{
  font-weight:100;
}

.main-panel-content .panel-header {
  margin:0;
  background:#fff;
  padding:30px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.05);
  margin-bottom:30px;
}

.main-panel-content .panel-header .display-4 {
  font-weight:700;
}

.main-panel-content .list-group-header {
  padding:0;
  margin:0;
  color:rgba(255,255,255,.3);
  font-weight:bold;
}

.main-panel-content .list-group {
  padding:30px;
  padding-bottom:0px;
}

.main-panel-content .active {
  color:#fff !important;
}

.main-panel-content .list-group .list-group-item {
  background:transparent;
  border:0px;
  padding:5px 0px;
  font-weight:200;
  font-size:16px;
  margin:0;
  color:rgba(255,255,255,.7);
  font-weight:400;
}

.main-panel-content .list-group .list-group-item:hover {
  color:#fff;
}

.main-panel-content .list-group .list-group-item .svg-inline--fa {
  margin-right:2.5px;
}

.breadcrumb {
  margin-bottom:0;
}

.user-group {
  background:rgba(255,255,255,.1);
  padding:20px;
}

.user-group img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  border-radius:50%;
  max-width:50px;
  margin-bottom:5px;
}

.user-group .user-email {
  text-align:center;
  font-weight:400;
  color:#fff;
  margin:0;
  padding:0;
}

.panel-stats .panel-stat-block p {
  color:#fff;
  margin:0;
  padding:0;
}

.panel-stats #one {
  background:#AB49D5;
}

.panel-stats #two {
  background:#4582EC;
}

.panel-stats #three {
  background:#FF6E51;
}

.panel-stats .panel-stat-block .col-md-7{
  margin:0;
  padding:20px;
  text-align: right;
}

.panel-stats .panel-stat-block .col-md-4{
  padding:20px;
  background:rgba(255,255,255,.1);
  text-align: left;
  color:#fff;
}

.panel-content-main-section {
  background:#fff;
  margin-left:40px;
  margin-right:40px;
  -webkit-box-shadow: 2px -1px 20px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 2px -1px 20px 0px rgba(0,0,0,0.05);
  box-shadow: 2px -1px 20px 0px rgba(0,0,0,0.05);
}

.panel-content-main-section small{
 color:rgba(0,0,0,.4); 
}

.panel-content-header {
  padding:20px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.05);
}

.main-panel-content .chart {
  background:#fff;
  margin:15px;
  -webkit-box-shadow: 2px -1px 20px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 2px -1px 20px 0px rgba(0,0,0,0.05);
  box-shadow: 2px -1px 20px 0px rgba(0,0,0,0.05);
  max-width:100%;
}

.main-panel-content .chart #myChart {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.panel-table th {
  margin:10px;
}

.panel-table thead {
  background:rgba(0,0,0,.05);
}

.panel-table th, .panel-table td {
  font-size:14px;
  padding:20px;
}

.table thead th,
.table th, .table td{
  border:none;
}

.panel-table tr th {
  font-weight: 600
}

.panel-header .display-4 {
  font-size:32px;
  margin-bottom: 0
}

.panel-content-header .display-5 {
  color:rgba(0,0,0,.6);
  font-weight:400;
  padding-top:5px;
}

.panel-content-header .panel-buttons {
  text-align: right;
}

input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 0;
}
.panel-table input[type="checkbox"] {
  background:transparent;
  border:1px solid #ccc;
}

.dataTables_filter,.dataTables_length {
  padding:15px;
}

.dataTables_length {
  float:left;
}

.dataTables_length label {
  padding:10px 5px;
  margin-bottom:0;
}

.dataTables_info {
  margin-left:20px;
  color:rgba(0,0,0,.4);
  font-size:16px;
}

.paging_simple_numbers {
  margin-left:20px;
  font-size:16px;
  padding-bottom:20px;
}

.dataTables_filter {
  float:right;
}
.dataTables_paginate .previous {
  padding-right:5px;
}
.dataTables_paginate .current,
.dataTables_paginate .previous,
.dataTables_paginate .next{
  color:#333;
}

.dataTables_paginate .next {
  padding-left:5px;
}

.ticket {
  margin-top:5px !important;
  background:#eee;
  padding:15px !important;
}

#add_ticket {
  margin-top:20px;
  width:100%;
  border-radius:5px;
  border:0;
  background:#4481eb;
  color:#fff;
  padding:20px;
  font-weight:600;
}

#add_ticket:hover {
  background:#04befe;
  color:#fff;
}

.start {
  background:green;
  padding:5px;
  border-radius:5px;
  color:#fff;
  font-weight: 200;
}

.end {
  background:red;
  padding:5px;
  border-radius:5px;
  color:#fff;
  font-weight: 200;
}

#wizard .row .col-md {
    padding-left:0;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.table .active, .table .paid {
  background:green;
  padding:5px;
  border-radius:5px;
  color:#fff;
  font-weight: 200;
}

.table .trialing {
  background:orange;
  padding:5px;
  border-radius:5px;
  color:#fff;
  font-weight: 200;
}

.table .past_due {
  background:orange;
  padding:5px;
  border-radius:5px;
  color:#fff;
  font-weight: 200;
}

.table .canceled, .table .unpaid {
  background:red;
  padding:5px;
  border-radius:5px;
  color:#fff;
  font-weight: 200;
}

.plans {
  margin:30px !important;
}

.plans .btn {
  border-radius:5px;
  margin:30px 0px;
  font-size:16px;
}

.panel-header .display-4 {
  text-align: left;
}

.panel-content-new {
  padding:30px;
}

.panel-content-new p {
  color:rgba(0,0,0,.4);
}

.text-right {
  text-align:right !important;
}

.panel-body .col-md-6, .panel-body .col-md-8, .panel-body .col-md-4, .panel-body .col-md-12 {
  padding-left:0;
}

.link_popup {
  color:#09f;
}

.link_popup:hover {
  cursor:pointer;
}

.panel-content-main-section .pricing-block {
  padding:10px;
  text-align: left;
}

.panel-content-main-section .pricing-block form {
  text-align: center;
}

.panel-content-main-section .panel {
  margin:15px;
}

.panel-content-main-section #pricetag {
  text-align: left;
  padding:0;
}

.plan-header {
  padding:30px;
}

.plan-header h3 {
  color:rgba(0,0,0,.7);
}

.plan-header i {
  font-size:30px;
}

.plan-content {
  padding-left:45px;
  padding-bottom:45px;
}

.plan-content p {
  color:rgba(0,0,0,.6);
}

.modal {
  border-radius:0 !important;
}

.modal-header {
  background:rgba(0,0,0,.05);
  padding-bottom:10px;
}

.modal-footer,.modal-header {
  border:transparent;
}

.modal-body {
  margin-top:0;
  border:transparent;
  text-align:left !important;
}

.modal-body p, .modal-body li {
  font-size:15px;
}

.card-js input {
  border:transparent;
  border-bottom:1px solid rgba(0,0,0,.1);
}

.unverifed {
  background:grey;
  padding:5px;
  color:#fff;
  display:block;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin-top:5px;
  border-radius:5px;
}

.verified {
  border-radius:5px;
  background:rgba(0,0,0,.2);
  padding:5px;
  color:#fff;
  display:block;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin-top:5px;
}

.sales_xd {
  padding:30px;
  background:#333;
}

.sales_xd {
  font-family: "Oswald",sans-serif;
  font-size:32px;
  color:#fff;
}

.sales_xd p {
  font-family: "Oswald",sans-serif !important;
  margin:10px;
  padding:10px;
}

.sales_xd .btn-info {
  margin:10px !important;
  padding:10px;
  font-family: "Oswald",sans-serif;
  background:transparent;
  border:2px solid #fff;
  font-weight:500;
  border-radius:0;
  font-size:32px;
}

.sales_xd .btn-info:hover {
  background:#fff;
  color:#111;
}

.pricing-table .col-md{
  padding-left:0;
  padding-right:0;
  margin:0 !important;
}

.btn {
  border-radius:0;
}

.input-group-text {
  background:rgba(0,0,0,.05);
}

.footer .row {
  margin-top:30px;
  margin-bottom:30px;
  text-align:left;
}

.footer h4 {
  font-family: "Oswald",sans-serif;
  font-weight:400;
}

.footer ul {
  padding:0;
}

.footer ul li {
  padding-left:0;
  list-style:none;
}

.footer ul li a{
  text-decoration:none;
  color:rgba(255,255,255,.7);
  border-bottom:1px dotted #333;
}

.footer ul li a:hover {
  color:#fff;
}

.footer .row p{
  color:rgba(255,255,255,.7);
  font-weight:200;
}

.about {
  margin-top:30px;
}

.about p {
  color:rgba(0,0,0,.6);
}

.seperate-form-div .btn {
  margin-top:10px;
}

.panel-content-main-section .panel {
    margin:0;
}

.large-header {
  background: -moz-linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(33,44,55,0.4) 25%), url('https://images.unsplash.com/photo-1471967183320-ee018f6e114a') no-repeat;
  background: -webkit-linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(33,44,55,0.4) 25%), url('https://images.unsplash.com/photo-1471967183320-ee018f6e114a') no-repeat;
  background: -o-linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(33,44,55,0.4) 25%), url('https://images.unsplash.com/photo-1471967183320-ee018f6e114a') no-repeat;
  background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(33,44,55,0.4) 25%), url('https://images.unsplash.com/photo-1471967183320-ee018f6e114a') no-repeat;
  background-attachment: fixed;
  height:400px;
  background-size:cover;  
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);
}

.large-header .row {
  padding-top:300px;
}

.large-header h4 {
  font-family: "Roboto",sans-serif;
  text-shadow: 0px 3px 3px rgba(0,0,0,.2);
  margin-bottom:30px;
  padding-top:1.5rem;
  font-size:30px;
  color:#fff;
  font-weight:500;
}

.large-header .btn {
  font-family: "Roboto",sans-serif;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);
  font-weight:500;
  border:0px;
  color:#fff !important;
  padding:20px;
  font-size:30px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.large-header .btn-info {
  background:orange;
}

.large-header .btn-info:hover {
  transform:scale(1.05);
}

.event-info .container {
  margin-top:0;
}

.event-info {
  margin:0;
  padding-top:30px;
  padding-bottom:20px;
  background:rgba(0,0,0,.1);
}

.event-info .col-md-8 p{
  color:rgba(0,0,0,.6);
  font-weight:500;
}

.event-desc {
  padding-top:30px;
  padding-bottom:30px;
}

.bg_event {
  background-color:#111 !important;
}

.fees {
  font-weight:bold;
}

.event-desc .pricetag {
  font-weight:bold;
  color:#09f;
}

.search input {
  margin:0;
  border:0;
  border-radius:0;
  border-bottom:1px solid rgba(255,255,255,.4);
  background:transparent;
  padding:10px;
  margin-right:5px;
}

.search input:focus {
  outline:0;
  margin:0;
  margin-right:5px;
  color:#fff;
  background:transparent;
  box-shadow:none;
  border:0;
  border-radius:0;
  border-bottom:1px solid rgba(255,255,255,1);
  padding:10px;
}

.swal-content table {
  text-align:left !important;
}

.order_checkout i, .order_checkout input {
  height:37.5px;
}

.swal2-close {
  outline:0 !important;
}

#finalise .card-js {
  width:50%;
}

.start_date, .end_date {
  font-weight:bold;
}

* {
  -webkit-transition: all 150ms ease !important;
  transition: all 150ms ease !important;
}

.header button:hover {
  transform:scale(1.05);
}

#seller {
  border:0;
  padding:30px 50px;
  background-image:radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
	        box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
}

#buyer {
  border:0;
  background-image:linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
  padding:30px 50px;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
	        box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
}

.search_field .btn-info {
  border:0;
  background-image:radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}


.section small {
  color:rgba(0,0,0,.5);
  font-weight:300;
}

.section {
  margin-top:50px;
  margin-bottom:100px;
}

.section .event {
  margin-bottom:10px;
  height:150px;
}

.event p {
  color:#333;
}

#buyer_content .ev .event_content {
  padding:20px;
}

#buyer_content .col-md-3 {
  padding-top:10px;
  padding-left:0px;
}

#buyer_content .ev {
  border:1px solid rgba(0,0,0,.1);
  padding:0;
}

#buyer_content .ev:hover {
  transform:scale(1.05);
}

.random_event {
  
}

.search_field {
  margin-top:50px;
}

button, .btn {
  font-weight:600 !important;
}

a {
  font-weight:500;
}

label {
  color:rgba(0,0,0,.4);
  font-weight:bold;
  text-transform: uppercase;
}

label small {
  text-transform: none;
}

.btn {
  border-bottom:4px solid rgba(0,0,0,.1);
}



