<div class="user-group">
    <p class="user-email"><%= user.email %></p>
    <span id="account_status" class="unverifed">Unverified</span>
</div>
<div class="list-group">
    <p class="list-group-header">MAIN MENU</p>
    <a href="/panel" class="list-group-item list-group-item-action <% if(route == '/panel') { %>active<% } %>"><i class="fas fa-chart-pie"></i> Analytics</a>
    <a href="/panel/my_events" class="list-group-item list-group-item-action <% if(route == '/panel/my_events') { %>active<% } %>"><i class="far fa-calendar-alt"></i> Events</a>
</div>
<div class="list-group">
    <p class="list-group-header">BILLING</p>
    <a href="/panel/transactions" class="list-group-item list-group-item-action <% if(route == '/panel/transactions') { %>active<% } %>"><i class="fa fa-credit-card" aria-hidden="true"></i> Transactions</a>
    <a href="/panel/plans" class="list-group-item list-group-item-action <% if(route == '/panel/plans') { %>active<% } %>"><i class="fa fa-upload" aria-hidden="true"></i> Subscriptions</a>
</div>
<div class="list-group">
    <p class="list-group-header">PAYMENTS</p>
    <a href="/panel/withdraw" class="list-group-item list-group-item-action <% if(route == '/panel/withdraw') { %>active<% } %>"><i class="far fa-credit-card"></i> Payouts</a>
    <a href="/panel/account_settings" class="list-group-item list-group-item-action <% if(route == '/panel/account_settings') { %>active<% } %>"><i class="fa fa-cog" aria-hidden="true"></i> Personal Settings</a>
</div>
<div class="list-group">
    <p class="list-group-header">MISC</p>
    <a href="/panel/support" class="list-group-item list-group-item-action <% if(route == '/panel/support') { %>active<% } %>"><i class="fa fa-medkit" aria-hidden="true"></i> Support</a>
    <a href="#" class="list-group-item list-group-item-action" disabled="disabled"><i class="fas fa-server"></i> API</a>
</div>
