<!DOCTYPE html>
<html>
  <head>
    <% include ../templates/head.ejs %>
  </head>
  <body>
    
    <form action="/billing/charge" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= keyPublishable %>"
        data-amount="5999"
        data-name="Advanced Plan"
        data-description="$59.99 / month"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-currency="gbp">
      </script>
    </form>
  </body>
</html>
